.addGoods .el-input__inner,
.el-textarea__inner {
  width: 300px;
}

.addGoods .el-form-item__content {
  display: flex;
}

.addGoods .el-radio-group {
  width: 140px;
}

.addGoods .spans .el-input__inner {
  width: 110px;
}

.stock .el-progress__text {
  opacity: 0;
}

.classify .block {
  margin-top: 20px;
}